{% extends './base.twig' %}
{% block content %}
{{ parent() }} 
<div>{{ 'Bienvenidos al microframework Bonsai!' }}</div>
<div><a href="{{ url('greeting', {name: "Juan"}) }}">Saludar</a></div>
{% endblock %}